PRODUCT=itools
PRODUCT=uninst_common
PRODUCT=uninst_l64
PRODUCT=uninst_scr_ux
PRODUCT=uninst_ux
PRODUCT=revhweb
PRODUCT=PATagentCfg
PRODUCT=revuakm
PRODUCT=PATpconfigLin
PRODUCT=revhcen
PRODUCT=bem
PRODUCT=PATcliCatalog
PRODUCT=unixconfssv3
PRODUCT=kmuhux
PRODUCT=config_history
PRODUCT=unixcfam
PRODUCT=kmupwkm
PRODUCT=pspiv3
PRODUCT=nukkm
PRODUCT=kmuskm
PRODUCT=linux_suse9_x86ssv3
PRODUCT=proxy
PRODUCT=revkm
PRODUCT=mls
PRODUCT=pspfamv3
PRODUCT=PATcliLin
PRODUCT=linux_suse9_x8664ssv3
PRODUCT=lnx30a
PRODUCT=providersunixssv3
PRODUCT=precore
PRODUCT=cfg_sec_prms_unix
PRODUCT=linuxbinssv3
PRODUCT=revhux
PRODUCT=kmuhelp
PRODUCT=PATconsCatalog
PRODUCT=nukskm
PRODUCT=target_script
PRODUCT=duma_top
PRODUCT=dirfix
PRODUCT=duma
PRODUCT=revckm
PRODUCT=unixadm
PRODUCT=patconfv3
PRODUCT=xml_interface
PRODUCT=change_owner
PRODUCT=duma1
PRODUCT=duma2
PRODUCT=nukckm
PRODUCT=confdefv3
PRODUCT=nukuakm
PRODUCT=revskm
PRODUCT=sagnt
PRODUCT=unixfam
PRODUCT=crliblnk
PRODUCT=PATtoolsuLin
PRODUCT=unixpacct
PRODUCT=revhelp
PRODUCT=nukcskm
PRODUCT=pwc_dir_u
PRODUCT=kdbv3
PRODUCT=acommon
PRODUCT=revcskm
PRODUCT=sec_conf_unixv3
PRODUCT=PATsagntUnix
[TARGET] OsType("==","Linux") OsVendor("==","RedHat")OsVendorMajor("==",5 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsMajorVer("==",2 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsVendor("==","SuSE")OsVendorMajor("==",11 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsMajorVer("==",2 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsVendor("==","RedHat")OsVendorMajor("==",6 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsVendor("==","RedHat")OsVendorMajor("==",5 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsMajorVer("==",2 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsMajorVer("==",2 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsVendor("==","SuSE")OsVendorMajor("==",10 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[TARGET] OsType("==","Linux") OsVendor("==","RedHat")OsVendorMajor("==",7 ) OsArch("==","x86-64") PatrolReleaseVer("==","7.4")
[SETP]/BMC/PATROL/RELEASEVERSION=7.4
[SETP]/NP/BMC/CI/INSTALL_MODE=EXPORT
[SETP]/BMC/PATROL/BEM/EXISTS=FALSE
[SETP]/BMC/Agent=true
[SETP]/BMC/COMMON/DIR=common
[SETP]/BMC/UNINSTALL/DIR=Uninstall
[SETP]/BMC/AGENT/STOP=TRUE
[SETP]/BMC/AGENT/PORT=3181
[SETP]/BMC/PATROL/INTEGRATIONSERVICES/VARIABLE=tcp:THDRUVAPTSIS02.devglobal.lotuss.org:3181,tcp:THDRUVAPTSIS01.devglobal.lotuss.org:3183
[SETP]/BMC/KMDS=FALSE
[SETP]/BMC/CONFIRMATION/PASSWORD=$-2$-$B154D66D88E318026C99D80F08FA3F4099152C2880118E5808ACB50F55734141
[SETP]/NP/BMC/MAYBE=TRUE
[SETP]/BMC/SECURITY/NETWORKCONNECTION=TCP
[SETP]/BMC/PATROL3/INFO_2=/opt/bmc/patrol
[SETP]/NP/BMC/CI/INSTALL_TYPE=CUSTOM
[SETP]/BMC/PATROL/MCA/TENANT/APIKEY=
[SETP]/ENCRYPTION/AES_ENABLED=TRUE
[SETP]/Blank/BMC/Password/Continue=FALSE
[SETP]/BMC/PATROL/CENTRALADMIN/TAG/CFG=Allow
[SETP]/BMC/PATROL/BEM/FORWARDEVENTTOIS=yes
[SETP]/BMC/PWC/DIR=webcentral
[SETP]/root/passwd=
[SETP]/BMC/PATROL/CENTRALADMIN/TAG=
[SETP]/BMC/INSTBASE/NOSLASH=/opt/bmc/patrol
[SETP]/BMC/BASE=/opt/bmc/patrol
[SETP]/BMC/PATROL/AUTO_UPGRADE=FALSE
[SETP]/BMC/PATROL/MCA/TENANT/PROXYPASSWD=
[SETP]/Blank/Root/Password/Continue=TRUE
[SETP]/BMC/PATROL/MCA/PUBLISHHOSTNAME=
[SETP]/BMC/INSTBASE=/opt/bmc/patrol/
[SETP]/ACCOUNT/Quotedlogin={{ patrol_agent_user | default('lotussdev\svc-th-tsom-dev-adm') }}
[SETP]/BMC/AGENT/START=TRUE
[SETP]/BMC/PATROL/MCA/TENANT/PROXYSERVER=
[SETP]/BMC/PATROL/BEM/PRIMARY=
[SETP]/BMC/SECURITY/ADVANCED=Basic
[SETP]/root/login=
[SETP]/Repository_Tests/Front_End/Install_Dir_Flag=1
[SETP]/BMC/SECURITY/LEVEL=0
[SETP]/ACCOUNT/passwd=$-2$-$B154D66D88E318026C99D80F08FA3F4099152C2880118E5808ACB50F55734141
[SETP]/BMC/PATROL/DIR=Patrol3
[SETP]/BMC/PATROL/INTEGRATIONSERVICES/EXISTS=TRUE
[SETP]/BMC/PWC/MIGRATE=webcentral.bak
[SETP]/BMC/SECURITY/OVERWRITE=FALSE
[SETP]/BMC/PATROL/PATROL_ACCOUNT={{ patrol_agent_user | default('lotussglobal\svc-th-tsom-prd-adm') }}
[SETP]/BMC/TEST/PASSWORD_GOOD=1
[SETP]/ROOT/BLANK/PASSWORD_CHECK=1
[SETP]/BMC/PATROL/MCA/TENANT/PROXYUSER=
[SETP]/BMC/PATROL/CENTRALADMIN/TAG/EXISTS=FALSE
[SETP]/ROOT/TEST/PASSWORD_GOOD=1
[SETP]/BMC/PATROL/BEM/SHARED_KEY=mc
[SETP]/Repository_Tests/Front_End/Install_Dir=/opt/bmc/patrol/
[SETP]/ROOT/CONFIRMATION/PASSWORD=
[SETP]/BMC/CIAgent=TRUE
[SETP]/BMC/PERFORM/MIGRATE=
[SETP]/BMC/PATROL/BEM/SECONDARY=
